.card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translateZ(0);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.card:hover{
 transform: scale(1.05);
}